@()
@cn.main("已录质谱信息菌株列表") {
	<style>
			.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner{
				word-break: break-word;
				white-space: normal;
			}

	</style>
	<div class="row" style="">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4;">已录质谱信息菌株列表</h2>
		</div>
	</div>

	<form class="registration-form form-horizontal" id="form" accept-charset="UTF-8">

		<div class="form-group">
			<label class="control-label col-sm-2">菌株名称:</label>
			<div class="col-sm-3">
				<select class="form-control" name="name"
				style="border-radius: 4px;" >
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="actions col-sm-offset-2 col-sm-3">
				<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="MyList.mySearch">
					查看</button>
			</div>
		</div>


	</form>
	<hr>

	<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
	data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]"  data-multiple-search="true"
	style="table-layout: fixed;
		word-wrap: break-word;white-space: normal;
	"
	>
		<thead>

		</thead>
	</table>

	<script>
		$(function () {
			MyList.init

		})

	</script>



}