@()
@cn.main("联系我们") {

	<div class="row" style="">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4;">联系我们</h2>
		</div>
	</div>

	<div class="row">
		<a href="http://www.pumcderm.net/keshi/fungi/expertinfo.aspx?pid=61&siteid=3" target="_blank">
			<img src="@routes.Assets.at("images/contact1.jpg")" style="width: 120px" class="col-sm-1"></a>
		<div class="ks1" style="margin-top: 10px">
			<div class="txtk">
				<p class="p_1" >
					<a href="http://www.pumcderm.net/keshi/fungi/expertinfo.aspx?pid=61&siteid=3" target="_blank"
					style="color: #333333;
						font-size: 30px"
					>刘维达</a></p>
				<p class="p_2" style="font-size: 18px;
					line-height: 30px;
					color: #1b6b36">
					医学博士，研究员，博士生导师，博士后合作导师，真菌科主任，兼国家医学真菌菌种保藏管理中心主任</p>
			</div>
		</div>
	</div>
	<div class="row">
		<p style="margin-left: 15px;
			font-size: 18px;
			line-height: 30px;
			color: #1b6b36;
			margin-top: 50px">
			<b class="myFont">联系地址：</b>江苏省南京市太平门外蒋王庙街12号<br>
			<b class="myFont">邮政编码：</b>    210042<br>
			<b class="myFont">办公电话：</b>025-85470580<br>
			<b class="myFont">电子邮箱：</b>liumyco@@hotmail.com<br>
		</p>
	</div>
	<div class="row">
		<img src="@routes.Assets.at("images/contact2.jpg")"  class="col-sm-12" style="margin-top: 50px">
	</div>
	<div class="row">
		<p style="margin-left: 15px;
			font-size: 15px;
			line-height: 30px;
			margin-top: 50px">
			地铁线路：<br>（1）南京站（地铁3号线）→鸡鸣寺站（转地铁4号线）→蒋王庙站→1号出口出，步行约470米至皮研所<br>
			（2）南京站（地铁3号线）→新庄站→1号出口出，步行至新庄广场东公交车站，乘坐69路，至花园路·南林东路站下→步行约618米至皮研所<br>
			（3）南京南站（地铁1号线）→鼓楼站（转地铁4号线）→蒋王庙站→1号出口出，步行约470米至皮研所<br>
			（4）南京南站（地铁3号线）→鸡鸣寺站（转地铁4号线）→蒋王庙站→1号出口出，步行约470米至皮研所<br>
			（5）新街口（地铁1号线）→鼓楼站（转地铁4号线）→蒋王庙站→1号出口出，步行约470米至皮研所<br>
			（6）学则路站/仙林中心站/羊山公园站/南大仙林校区站（地铁2号线）→金马路站（转地铁4号线）→蒋王庙站→1号出口出，步行约470米至皮研所<br>
			（7）仙林湖站（地铁4号线）→蒋王庙站→1号出口出，步行约470米至皮研所<br><br>


			公交线路：<br> （1）乘6路、11路、68路、118路和313路至蒋王庙（皮研所）站；<br>
			（2）乘45路、70路、115路和136路至省经济干部管理学院站；<br>
			（3）乘2路、10路和28路路至南京汽车东站，向南前行400米即到。<br>
		</p>

	</div>

	<style>
			.myFont {
				font-size: 18px;
				color: #1b6b36;
			}
	</style>


}