@()
	@cn.main("购物车") {
		<div class="row">
			<div class="form-group col-sm-12">
				<h2 class="page-heading"
				style="text-align: left;
					border-bottom: 5px solid #e9f3f4">购物车</h2>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-12">
				<p id="message"></p>
			</div>
		</div>

		<div id="myTable">

			<div id="toolbar">
				<a type="button" class="btn btn-primary" id="deleteButton"
				href="@routes.CartController.downloadInfo()">
					下载菌种信息
				</a>
			</div>

			<table class="display table " id="table" data-toolbar="#toolbar">
				<thead>
					<tr>
						<th data-field="id" >菌种编号</th>
						<th data-field="chinesename" >中文名称</th>
						<th data-field="price" >价格</th>
						<th data-field="num" >购买数量</th>
						<th data-field="totalPrice">总价</th>
						<th data-field="operate" >操作</th>
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot>
					<tr>
						<td></td>
						<td>总购买数量 </td>
						<td id="totalNum"></td>
						<td>总价格</td>
						<td id="allTotalPrice"></td>
						<td>
							<button class="btn btn-danger" onclick="deleteAll()" >清空购物车</button>
						</td>
					</tr>
				</tfoot>
			</table>

			<hr>

			<h3>联系人信息</h3>

			<form class="registration-form form-horizontal" id="form"
			accept-charset="UTF-8" method="post">

				<div class="form-group">
					<label class="control-label col-sm-2">姓名:</label>
					<div class="col-sm-4">
						<input class="form-control" name="name" id="mCharacteristic">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">单位:</label>
					<div class="col-sm-4">
						<input class="form-control" name="department" id="mCharacteristic">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">手机号:</label>
					<div class="col-sm-4">
						<input class="form-control" name="phone" id="mCharacteristic">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">邮箱:</label>
					<div class="col-sm-4">
						<input class="form-control" name="email" id="mCharacteristic">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">地址:</label>
					<div class="col-sm-4">
						<input class="form-control" name="address" id="mCharacteristic">
					</div>
				</div>

				<div class="form-group">
					<div class="actions col-sm-offset-2 col-sm-2">
						<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="mySearch()">
							提交</button>
					</div>
				</div>

			</form>
		</div>

		<script>
				$(function () {
					$.ajax({
						url: "@routes.CartController.getCartInfo()",
						success: function (data) {
							if (data.valid == "false") {
								$("#message").text("购物车暂时没有商品！")
								$("#myTable").hide()
							} else {
								$("#myTable").show()
								$('#table').bootstrapTable({
									data: data.data
								});
								$("#allTotalPrice").text(data.allTotalPrice)
							}
						}
					})
					getTotalNum()
					formValidation()
				})

				function getTotalNum() {
					$.ajax({
						url: "@routes.CartController.getNum",
						success: function (data) {
							$("#totalNum").text(data)
						}
					})
				}

				function addNum(id) {
					$.ajax({
						url: "/fungus/cart/addCart?id=" + id,
						success: function (data) {
							getNum()
							getTotalNum()
							refreshData()
						}
					})
				}

				function deleteNum(id) {
					$.ajax({
						url: "/fungus/cart/deleteCart?id=" + id,
						success: function (data) {
							getNum()
							getTotalNum()
							refreshData()
						}
					})
				}

				function deleteId(id) {
					swal({
								title: "",
								text: "确定要移除此商品吗？",
								type: "warning",
								showCancelButton: true,
								showConfirmButton: true,
								confirmButtonClass: "btn-danger",
								confirmButtonText: "确定",
								closeOnConfirm: false,
								cancelButtonText: "取消"
							},
							function () {
								$.ajax({
									url: "/fungus/cart/deleteId?id=" + id,
									success: function (data) {
										swal("成功！", "移除此商品成功！", "success")
										getNum()
										getTotalNum()
										refreshData()
									}
								})
							});
				}

				function refreshData() {
					$.ajax({
						url: "@routes.CartController.getCartInfo()",
						success: function (data) {
							if (data.valid == "false") {
								$("#message").text("购物车暂时没有商品！")
								$("#myTable").hide()
							} else {
								$("#myTable").show()
								$('#table').bootstrapTable("load", data);
								$("#allTotalPrice").text(data.allTotalPrice)
							}
						}
					})
				}

				function deleteAll() {
					swal({
								title: "",
								text: "确定要移除所有商品吗？",
								type: "warning",
								showCancelButton: true,
								showConfirmButton: true,
								confirmButtonClass: "btn-danger",
								confirmButtonText: "确定",
								closeOnConfirm: false,
								cancelButtonText: "取消"
							},
							function () {
								$.ajax({
									url: "@routes.CartController.deleteAll()",
									success: function (data) {
										swal("成功！", "移除所有商品成功！", "success")
										getNum()
										getTotalNum()
										refreshData()

									}
								})
							});
				}

				function updateNum(element, id) {
					var num = $(element).val()
					$.ajax({
						url: "/fungus/cart/updateNum?id=" + id + "&num=" + num,
						success: function (data) {
							getNum()
							getTotalNum()
							refreshData()
						}
					})
				}

				function formValidation() {
					$('#form').formValidation({
						framework: 'bootstrap',
						icon: {
							valid: 'glyphicon glyphicon-ok',
							invalid: 'glyphicon glyphicon-remove',
							validating: 'glyphicon glyphicon-refresh'
						},
						fields: {
							name: {
								validators: {
									notEmpty: {
										message: '姓名不能为空！'
									}
								}
							},
							department: {
								validators: {
									notEmpty: {
										message: '单位不能为空！'
									}
								}
							},
							phone: {
								validators: {
									notEmpty: {
										message: '手机不能为空！'
									},
									regexp: {
										regexp: /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/ ||
										/^(([0+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/,
										message: "手机号不合法！"
									}
								}
							},
							email: {
								validators: {
									notEmpty: {
										message: '邮箱不能为空！'
									},
									emailAddress: {
										message: '邮箱不合法！'
									}
								}
							},
							address: {
								validators: {
									notEmpty: {
										message: '地址不能为空！'
									},
								}
							},
						}

					});
				}

				function mySearch() {
					var form = $("#form")
					var fv = form.data("formValidation")
					fv.validate()
					if (fv.isValid()) {
						$.ajax({
							url: "@routes.CartController.submit",
							type: "post",
							async: false,
							data: $("#form").serialize(),
							success: function (data) {
								swal("成功！", "提交成功！", "success")
								getNum()
								getTotalNum()
								refreshData()
							}
						});
					}


				}


		</script>


	}