@()
@cn.main("基于表型信息搜索") {

	<div class="row">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4">基于表型信息搜索</h2>
		</div>
	</div>

	<form class="registration-form form-horizontal" id="form"
	accept-charset="UTF-8" method="post">

		<div class="form-group">
			<label class="control-label col-sm-2">分离基物:</label>
			<div class="col-sm-3">
				<select class="checkbox form-control habitat" multiple="multiple" name="habitat[]" id="habitat">
				</select>
			</div>
			<label class="control-label col-sm-2">生物危害程度:</label>
			<div class="col-sm-3">
				<select class="checkbox form-control bHLevel" multiple="multiple" name="bHLevel[]" id="bHLevel">
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">主要特征:</label>
			<div class="col-sm-8">
				<input class="form-control" name="mCharacteristic" id="mCharacteristic">
			</div>
		</div>

		<div class="form-group">
			<div class="actions col-sm-offset-2 col-sm-2">
				<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="mySearch()">搜索</button>
			</div>
		</div>

	</form>
	<hr>

	<label>请选择要显示的列:</label>
	<div id="checkbox" class="checkbox">

	</div>

	<div id="toolbar">
			&nbsp;关键词：
	</div>

	<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
	data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-search-align="left" data-multiple-search="true"
	>
		<thead>
			<tr>
				<th data-field="id" data-sortable="true">菌种编号</th>
				<th data-field="originalid" data-sortable="true">原始编号</th>
				<th data-field="chinesename" data-sortable="true">中文名称</th>
				<th data-field="source" data-sortable="true">来源历史</th>
				<th data-field="storetime" data-sortable="true">收藏时间</th>
				<th data-field="opcountry" data-sortable="true">原产国</th>
				<th data-field="habitat" data-sortable="true">分离基物</th>
				<th data-field="ctemperature" data-sortable="true">培养温度（℃）</th>
				<th data-field="cnumber" data-sortable="true">培养基编号（名称或配方）</th>
				<th data-field="mcharacteristic" data-sortable="true">主要特征特性</th>
				<th data-field="pkind" data-sortable="true">保藏类型</th>
				<th data-field="pmethod" data-sortable="true">保存方法</th>
				<th data-field="bhlevel" data-sortable="true">生物危害程度</th>
				<th data-field="pstate" data-sortable="true">实物状态</th>
				<th data-field="phylum" data-sortable="true">门名</th>
				<th data-field="outline" data-sortable="true">纲名</th>
				<th data-field="order" data-sortable="true">目名</th>
				<th data-field="family" data-sortable="true">科名</th>
				<th data-field="genus" data-sortable="true">属名</th>
				<th data-field="species" data-sortable="true">种名加词</th>
			</tr>
		</thead>
	</table>


	<script>
			$(function () {
				$(".habitat").select2()
				$(".bHLevel").select2()

				$.ajax({
					url: "@routes.SearchController.getAllHabitat()",
					success: function (data) {
						$(".habitat").select2(
								{
									data: data,
									placeholder: "点击选择",
									maximumSelectionLength: 1,
									language: "zh-CN",
									allowClear: true
								}
						)
					}
				})


				$.ajax({
					url: "@routes.SearchController.getAllBHLevel()",
					success: function (data) {
						$(".bHLevel").select2(
								{
									data: data,
									placeholder: "点击选择",
									maximumSelectionLength: 1,
									language: "zh-CN",
									allowClear: true
								}
						)
					}
				})

				var array = ["原始编号", "中文名称", "来源历史", "收藏时间", "原产国", "分离基物", "培养温度（℃）", "培养基编号（名称或配方）",
					"主要特征特性", "保藏类型", "保存方法", "生物危害程度", "实物状态", "门名", "纲名", "目名", "科名", "属名", "种名加词"]
				var values = ["originalid", "chinesename", "source", "storetime", "opcountry", "habitat", "ctemperature",
					"cnumber", "mcharacteristic", "pkind", "pmethod", "bhlevel", "pstate", "phylum", "outline", "order", "family", "genus", "species"
				]
				var html = ""
				$.each(array, function (n, value) {
							html += "<label style='margin-right: 15px'>" +
									"<input type='checkbox' checked='checked' value='" + values[n] + "' onclick=\"setColumns('" + values[n] + "')\">" + value +
									"</label>"
						}
				);
				$("#checkbox").append(html)

				$('#table').bootstrapTable({});
				var hiddenArray = ["originalid", "chinesename", "source", "ctemperature", "pkind", "cnumber",
					 "storetime", "opcountry", "pmethod", "pstate","phylum", "outline", "order"]
				$.each(hiddenArray, function (n, value) {
							$('#table').bootstrapTable('hideColumn', value);
							$("input:checkbox[value=" + value + "]").attr("checked", false)
						}
				);

				@*$.ajax({*@
				@*url: "@routes.SearchController.searchAllInfos()",*@
				@*type: "get",*@
				@*dataType: "json",*@
				@*success: function (data) {*@
				@*$('#table').bootstrapTable({*@
				@*data: data*@
				@*});*@
				@*var hiddenArray = ["originalid", "chinesename", "source", "ctemperature", "pkind", "cnumber",*@
				@*"habitat", "storetime", "opcountry", "pmethod", "bhlevel", "pstate"]*@
				@*$.each(hiddenArray, function (n, value) {*@
				@*$('#table').bootstrapTable('hideColumn', value);*@
				@*$("input:checkbox[value=" + value + "]").attr("checked", false)*@
				@*}*@
				@*);*@
				@*}*@
				@*})*@

			})

			function mySearch() {
				$("#search").attr("disabled", true).html("搜索中...")
				$.ajax({
					url: "@routes.SearchController.searchByPhenotypeData()",
					type: "post",
					data: $("#form").serialize(),
					success: function (data) {
						if (data.valid == "false") {
							swal("错误", "表型信息不能都为空!", "error")
						} else {
							$('#table').bootstrapTable("load", data);
						}
						$("#search").attr("disabled", false).html("搜索").blur()
					}
				});
			}

			function setColumns(value) {
				var element = $("input:checkbox[value=" + value + "]")
				if (element.is(":checked")) {
					$('#table').bootstrapTable('showColumn', value);
				} else {
					$('#table').bootstrapTable('hideColumn', value);
				}
			}




	</script>

}